<?xml version="1.0" encoding="utf-8"?>
<configuration>


	<connectionStrings>
		<add name="VediGroupEntities" connectionString="metadata=res://*/DataBase.VediGroup.csdl|res://*/DataBase.VediGroup.ssdl|res://*/DataBase.VediGroup.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-KR7GSO5G;initial catalog=VediGroup;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

</configuration>